      <aside class="nav-wrap">
        <nav class="site-nav clearfix">
          <ul class="list-unstyled nav-list">
            <li class="nav-list__item active"><a href="javascript:;" class="nav-list__link"><i class="fa fa-desktop nav-list__link__icon"></i><span class="nav-list__link__label">Panel de Control</span></a></li>
            <li class="nav-list__item"><a href="javascript:;" class="nav-list__link"><i class="fa fa-cube nav-list__link__icon"></i><span class="nav-list__link__label">Publicaciones</span><i class="fa fa-angle-right right nav-list__link__icon--arrow"></i></a>
              <ul class="list-unstyled sub-nav-list">
                <li class="sub-nav-list__item"><a href="">Añadir</a></li>
                <li class="sub-nav-list__item"><a href="">Registradas</a></li>
                <li class="sub-nav-list__item"><a href="">Favoritos</a></li>
              </ul>
            </li>
            <li class="nav-list__item"><a href="javascript:;" class="nav-list__link"><i class="fa fa-gears nav-list__link__icon"></i><span class="nav-list__link__label">Ajustes</span><i class="fa fa-angle-right right nav-list__link__icon--arrow"></i></a>
              <ul class="list-unstyled sub-nav-list">
                <li class="sub-nav-list__item"><a href="">Perfil de usuario</a></li>
                <li class="sub-nav-list__item"><a href="">Suscripción</a></li>
                <li class="sub-nav-list__item"><a href="">Seguridad</a></li>
                <li class="sub-nav-list__item"><a href="">Privacidad</a></li>
                <li class="sub-nav-list__item"><a href="">Acerca de</a></li>
              </ul>
            </li>
            <!-- 
            li.nav-list__item
              a(href="javascript:;").nav-list__link
                i.fa.fa-gears.nav-list__link__icon
                span.nav-list__link__label Configuración
                i.fa.fa-angle-right.right.nav-list__link__icon--arrow
              ul.list-unstyled.sub-nav-list
                li.sub-nav-list__item: a(href="") Métodos de Envío
                li.sub-nav-list__item: a(href="") Métodos de Pago
                li.sub-nav-list__item: a(href="") Eventos
            li.nav-list__item
              a(href="javascript:;").nav-list__link
                i.fa.fa-barcode.nav-list__link__icon
                span.nav-list__link__label Productos
                i.fa.fa-angle-right.right.nav-list__link__icon--arrow
              ul.list-unstyled.sub-nav-list
                li.sub-nav-list__item: a(href="") Todos los Productos
                li.sub-nav-list__item: a(href="") Nuevo Producto
            li.nav-list__item: a(href="#").nav-list__link
              i.fa.fa-cubes.nav-list__link__icon
              span.nav-list__link__label Pedidos 
            -->
          </ul>
        </nav>
      </aside>